In [1]:
import pandas as pd

In [2]:
##### Create TranWork reference table - values taken from IPUMS codebook
tranwork_key = [(0,"N/A")
 ,(10,"Auto, truck, or van")
 ,(11,"Auto")
 ,(12,"Driver")
 ,(13,"Passenger")
 ,(14,"Truck")
 ,(15,"Van")
 ,(20,"Motorcycle")
 ,(31,"Bus")
 ,(32,"Bus or trolley bus")
 ,(33,"Bus or streetcar")
 ,(34,"Light rail, streetcar, or trolley (Carro p√∫blico in PR)")
 ,(35,"Streetcar or trolley car (publico in Puerto Rico, 2000)")
 ,(36,"Subway or elevated")
 ,(37,"Long-distance train or commuter train")
 ,(38,"Taxicab")
 ,(39,"Ferryboat")
 ,(50,"Bicycle")
 ,(60,"Walked only")
 ,(70,"Other")
 ,(80,"Worked at home")
 ]
trandf = pd.DataFrame(tranwork_key,columns=['TRANWORK',"TRANWORK_DESC"])
trandf.to_csv("./ipums_data/ipums_tranwork_reference.csv")
trandf.iloc[[2,3,14,15,16]]

    TRANWORK                          TRANWORK_DESC
2         11                                   Auto
3         12                                 Driver
14        37  Long-distance train or commuter train
15        38                                Taxicab
16        39                              Ferryboat

In [3]:
##### Create geography table - raw table from here
# https://www.census.gov/geographies/reference-files/2019/demo/popest/2019-fips.html
geo_df = pd.read_csv("./ipums_data/census_data_geocodes_us_2019.csv",skiprows=4)
geo_df.rename({"Summary Level":"SUMMARY_LEVEL","State Code (FIPS)":"STATEFIP"\
              ,"County Code (FIPS)":"COUNTYFIP"\
               ,"County Subdivision Code (FIPS)":"COUNTY_SUBDIV_FIP"\
              ,"Place Code (FIPS)":"PLACE_FIP"
              ,"Consolidtated City Code (FIPS)":"CONSOL_CITY_FIP"\
              ,"Area Name (including legal/statistical area description)":"AREA_NAME"},axis=1,inplace=True)
geo_df.to_csv("./ipums_data/geocodes_us_2019_clean.csv")

In [4]:
##### Create PUMA name table - raw table from 
# https://www2.census.gov/geo/docs/reference/puma/2010_PUMA_Names.txt
puma_df = pd.read_csv("./ipums_data/census_puma_names_2019.txt",encoding = "ISO-8859-1")
puma_df.rename({"STATEFP":"STATEFIP","PUMA5CE":"PUMA","PUMA NAME":"PUMA_NAME"},axis=1,inplace=True)
puma_df.to_csv("./ipums_data/pumanames_us_2019_clean.csv")